header{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    height: 85%;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}

#areaDiGioco{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    overflow: auto;
    aspect-ratio: 1/1;
    margin: 30px;
}

.imgLogoDimension{
    height: 100%;
}
.imgLogoContainerDimension{
    height: 100%;
}
.buttomContainer{
    margin-right: 10px;
}
#playButtom{
    border: 1px solid black;
    border-radius: 5px;
    font-size: medium;
}

/* Bordi dati al container area di gioco con java */
.customBorder{
    border-top: 1px solid black;
    border-left: 1px solid black;
}

/* ^Quadrati  */
.quadrato{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: calc(100% / 10);
    width: calc(100% / 10);
}

.quadratoLevelNormal{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;  
    height: calc(100% / 9);
    width: calc(100% / 9);
}

.quadratoLevelHard{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black; 
    height: calc(100% / 7);
    width: calc(100% / 7);
}

.quadratoSelezionato{
    background-color: lightcoral;
}

@media  screen and (max-width: 460px) {

    header{
        flex-direction: column;
        height: 15%;
    }
    main{
        height: 80%;
    }
    .imgLogoContainerDimension{
        height: 50%;
    }
    .buttomContainer{
        margin-top: 4px;
        padding-bottom: 40px;
    }
    #dificultSelection{
        font-size: small;
    }
    #playButtom{
        font-size: small;
    }
   

}
@media  screen and (min-width: 1024px) {
    .quadrato{
        font-size: larger;
    }
    #dificultSelection{
        font-size: 25px;
    }
    #playButtom{
        font-size: 25px;
    }

}