.paddingCustom{
    padding: 180px;
}
.quadrato{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: calc(100% / 10);
    width: calc(100% / 10);
}

.quadratoSelezionato{
    background-color: lightcoral;
}

.quadratoLevelNormal{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;   
    width: calc(100% / 9);
    aspect-ratio: 1/1;
}

.quadratoLevelHard{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;   
    width: calc(100% / 7);
    aspect-ratio: 1/1;
}